@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700&display=swap');

$primaryfont                 : 'Montserrat', BlinkMacSystemFont, -apple-system, Roboto, Helvetica, Arial, sans-serif;
$secondaryfont               : serif;

$light                       : 300;
$normal                      : 400;
$semibold                    : 600;
$bold                        : 700;
$bolder                      : 900;

$xbig                        : 40px/#{48px} $primaryfont;
$big                         : 32px/#{40px} $primaryfont;
$xxlarge                     : 24px/#{32px} $primaryfont;
$xlarge                      : 20px/#{24px} $primaryfont;
$large                       : 18px/#{24px} $primaryfont;
$medium                      : 16px/#{24px} $primaryfont;
$regular                     : 14px/#{16px} $primaryfont;
$small                       : 12px/#{16px} $primaryfont;
$xsmall                      : 11px/#{16px} $primaryfont;
$xxsmall                     : 10px/#{16px} $primaryfont;

$space40                     : 40px;
$space32                     : 32px;
$space24                     : 24px;
$space16                     : 16px;
$space8                      : 8px;

$widthmd                     : 1200px;
$widthsm                     : 992px;
$widthxs                     : 748px;

$linkcolor                   : #1e88e5;
$primarycolor                : #333333;
$focuscolor                  : #000000;
$warningcolor                : #f44336;